:root {
  --header-height: 70px;
  --footer-height: 650px;
  --base-space: 20px;
  --padding-nav: 10px;
  --font-paragraph-size: 14px;
  --font-paragraph-color: #343434;
  --font-line-height: 20px;
}

/** Reset **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
    list-style: none;
    margin: 0 var(--base-space);
    text-align: center;
    vertical-align: top;
    line-height: 1;
    /** degug
    border: 1px dashed red; **/
}
li {
    display: inline-block;
    padding: var(--padding-nav);

    

    /** debug
    background: #ccc;
    border: 1px solid yellow; 
    **/
    
}

/** Utils **/
.wrapper{
  max-width: 100%;
}
.container{
  min-width: 1080px;
  height: var(--header-height);
  margin: 0 auto;
  
}
.button{
  padding: 10px 20px;
  background-color: #3061FF;
  border: none;
  color: white;
}


/** Debug **/

.debug-footer {
  min-height: var(--footer-height);
  background-color: goldenrod;
}
.debug-main {
  
  background-color: #888;
}






/** Header **/
.header{
  position: sticky;
  top: 0;
height: var(--header-height);
font-size: 14px;
background-color: white;
color: #6C6C6C;
 
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.logo-small{
  width: 120px;
}

.nav-bar-left ul li{ 
  margin-right: var(--base-space);
}
.nav-bar-right ul li{
  margin-right: 0;
  margin-left: var(--base-space);
}
.nav-bar-left ul li div{
  position: relative;
  
}
.logo-small{ 
  position: absolute;
  top: var(--padding-nav);
}



/** Main **/
.main-container{
  min-height: calc(100vh - var(--header-height));
}


/*****JUMBO*******/

.jumbo{
  
  min-height: 615px;

  background-color:#B4D0E7 ;
  /**degug**/
  border: 1px solid black;
}
.jumbo-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
  padding: var(--base-space);

  /*debug*/
  border: 1px dashed black;
  min-height: 100%;
}
.tittle{
  min-height: 250px;
  font-size: 2.48rem ;
  text-align: center;
  line-height: 80px;
  padding: calc(2 * var(--base-space)) 0;
 
  /**debug*/
  border: 2px dashed red;
}
.jumbo-description{
  display: flex;
  flex-wrap: wrap;
  min-height: calc(615px - 250px - (2 * var(--base-space)));
  
  /**debug*/
  border: 2px dashed red;
}
.jumbo-description__description{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  /*font-style*/
  font-size: var(--font-paragraph-size);
  color: var(--font-paragraph-color);
  line-height: var(--font-line-height);

  /**debug*/
  border: 2px dashed rgb(64, 0, 255);
}
.jumbo-description__img{
  padding: var(--base-space);
  width: 632px;
  height: 130%;
  /**debug*/
  border: 2px dashed rgb(64, 0, 255);
}
.jumbo-description__img img{
  height: 100%;  
}
.jumbo-description__description  p {
  height: 180px;
  padding: var(--base-space);
}
.subscribe{ 
  padding: var(--base-space);
  height: 190px;
  line-height: 40px;
}
.subscribe  i{
  line-height: 120px;
  font-size: 40px;
  
}
















/** Footer **/
.footer{
  min-height: var(--footer-height);
  padding: 80px;
  background-color: #111111;
  color: white;
}
.footer-container{
  height: 550px;
  width: 80%;
  margin: 0 auto;
  

  border: 1px solid rgb(217, 72, 72); 

}
.footer-info{
  display: flex;
  height:calc(0.7 * 550px);
  margin: var(--base-space);


  border: 1px dashed red;
}

.footer-social{
  height:calc(0.2 * 550px);
  margin: var(--base-space);


  border: 1px dashed red;
}
.section-info{
  width: calc(100% / 5);

  border: 1px dashed green;
}