:root {
  --header-height: 70px;
  --footer-height: 550px;
  --base-space: 20px;
  --space-large: 50px;
  --space-section: 150px;
  --padding-nav: 10px;
  --font-paragraph-size: 14px;
  --font-paragraph-color: #343434;
  --font-line-height: 20px;
  --border-table:1px solid rgb(50, 50, 50, 0.5);
}

/** Reset **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img{
  display: block;
  width: 100%;
  
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
    list-style: none;
    margin: 0 var(--base-space);
   
}
li {
    display: inline-block;
    /*border: 1px dashed red; */

}
i{
  color: currentColor;
}
/** Utils **/
.wrapper{
  width: 100%;
}
.container{
  width: 100%;
  min-height: 100px;
  margin-right: auto;
  margin-left: auto;
 
}
.button{
  padding: 10px 20px;
  background-color: #3061FF;
  border: none;
  color: white;
  cursor: pointer;
}
.button:hover{
  opacity: 0.7;
  
}
.col-30{
  width: 30%;
}
.col-40{
  width: 40%;
  min-height: 100px;

}
.col-60{
  width: 60%;
  min-height: 100px;

}
.col-70{
  width: 70%;
}


/** Debug **/

/***/







/**      Header       **/
.header{
  height: var(--header-height); 
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;

  font-size: 14px;
  background-color: white;
  color: #6C6C6C;
  box-shadow: rgba(0, 0, 0, 0.35) 19px -27px 7px -26px inset;
}

.nav-bar{
  flex-grow: 1;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar ul li {
  height: var(--header-height);
  vertical-align: middle;
  margin-right: 0;
  margin-left: var(--base-space);
  padding: 0;
}

.nav-bar ul li a{
  display: block;
  line-height: var(--header-height);
  padding: 0 10px;  
}
.btn{
  line-height: var(--header-height);

}
.logo-small{
  padding-top: 25px;
}
/***** Nav Hover  *****/
.nav-bar li:hover a{
  
  
  box-shadow: 
    rgba(0, 0, 0, 0.35) 19px -27px 7px -26px inset,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px ,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px,
    rgba(0, 0, 0, 0.15) 0px 15px 25px;
}



/**         Main         **/
.main-container{
  min-height: calc(100vh - var(--header-height));
}


/*****      JUMBO      *******/

.jumbo{
  display: flex;
  min-height: 620px;
  background-color:#B4D0E7 ;

}
.jumbo-container{
  flex-grow:0;
  width: 1080px;
  margin: 0 auto;
  padding: var(--base-space);

  
}
.tittle{
  min-height: 250px;
  font-size: 2.2rem ;
  text-align: center;
  line-height: 80px;
  padding: calc(2 * var(--base-space)) 0;
 
}
.jumbo-description{
  display: flex;
  min-height: calc(615px - 250px - (2 * var(--base-space)));
  position: relative;
  top: 70px;

}
.jumbo-description .col-40{
  padding-top: var(--base-space);
  /*font-style*/
  font-size: var(--font-paragraph-size);
  color: var(--font-paragraph-color);
  line-height: var(--font-line-height);

  
}
.jumbo-description .col-60{
  padding: var(--base-space);
  
}

 
.jumbo-description__description  p {
  height: 180px;
  padding: var(--base-space);
}
.subscribe{ 
  margin-top: var(--base-space);
  height: 190px;
  line-height: 40px;
}
.subscribe  i{
  line-height: 80px;
  font-size: 40px;
  
}

/*****      PAGE     *******/

.page{
  display: flex;
  flex-direction: column;
  width: 1080px;
  min-height: calc(100vh - var(--header-height));
  margin: 0 auto;
  padding: 100px;

}
.page > section{
  flex-wrap: wrap;
  flex-grow: 0;
}

.h2-tittle{
  font-size: 22px;

}
.tipo-fatturazione{
  line-height: 100px;
}
.tipo-fatturazione > span{
  margin-left: var(--base-space);
}


/** Card ***/

.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  width: inherit;
  margin-bottom: 50px;
  
}
.cards-container .col-30{
  border:var(--border-table)
}
.cards-container  ul{
  list-style: circle;
  text-align: left; 
}
.cards-container li {
  display: list-item;
}
.cards-container a{
  color: #3061FF;
}
.head-card{
  text-align: center;
  padding: var(--padding-nav);
  color: var(--font-paragraph-color);
  border-bottom: var(--border-table);
}
.cards-container .button{
  margin:33px;
  
}
.top-card,
.bottom-card{
  padding: var(--base-space);
}
.cards-container .col-30 h4{
  margin-bottom: var(--base-space);
}
.cards-container .col-30 h6{
  margin-bottom: 10px;
  font-size: 14px;
}
.cards-container .col-30 span{
  font-size: 12px;
  opacity: 0.5;
}
.cards-container .col-30 ul{
  margin-top: var(--space-large);
  line-height: var(--base-space);
  opacity: 0.5;
}
.top-card h4{
  font-size: 24px;
}
.bottom-card h4{
  margin-top: 50px;
}





/*** Large card****/


.card-large{
  height: 300px;
   border: var(--border-table);
   margin-bottom: var(--space-section);
}
.card-large-team{
  text-align: center;
  padding: var(--base-space);
  border-bottom: var(--border-table);
  
}
.card-large-description{
  display: flex;
  justify-content: space-between;
  padding: var(--base-space);
}

.card-large-description-tittle > h3{
  font-size: 24px;
  margin-bottom: var(--base-space);
}
.card-large-description-tittle > h4{
  font-size: 18px;
  margin-bottom: calc(2 * var(--base-space));
}
.card-large-description-tittle > p{
  font-size: var(--font-paragraph-size);
  line-height: var(--font-line-height);
  color: var(--font-paragraph-color);
}
.card-large-description .col-40{
  padding: var(--base-space);
}
.col-40 > span.button{
margin-top: var(--base-space);
margin-left: 75px;
}



/**** Section Partner *****/


.partner{
  display: flex;
  flex-direction: row;
  margin-bottom: var(--space-section); 
}
.partner .col-40{
  padding-top: var(--space-large);
  padding-left: var(--space-large);
  padding-right: var(--base-space);
}
.partner h3{
  font-size: 24px;
  margin-bottom: var(--base-space);
}
.partner p{
  font-size: 16px;
  line-height: var(--font-line-height);
  color: var(--font-paragraph-color);
  margin-bottom: var(--space-large);
}

/**  Section operazioni *****/



.operazioni{
 
  margin-bottom: var(--base-space);
}
.presentazione{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: inherit;
  margin-top: var(--space-large);
}
.presentazione h3{
  font-size: 24px;
  margin-bottom: var(--base-space);
}
.presentazione p{
  font-size: 16px;
  line-height: var(--font-line-height);
  color: var(--font-paragraph-color);
  margin-bottom: var(--space-large);
}






/***   logo partner  ****/


.logo-partner-container{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-grow:1;
  width: 100%;
  margin: 0 ;
}
.big-box{
  width: calc(100% / 3);
  height: calc(100vw / 3);
}
.big-box.centrale{
  overflow: scroll;

}
.box-column{
  display: flex;
  flex-wrap: wrap;
  height: calc(100vw / 6);
  flex-wrap: wrap;
}
.small-box{
  width: 50%;
  height: calc(100vw / 6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-box > img{
  filter: invert(100%);
  max-width: 150px;
}
.left .small-box:nth-child(1){
  background-color:#A2D39B ;
}
.left .small-box:nth-child(2){
  background-color:#61082B;
}
.right .small-box:nth-child(1){
  background-color:#3193CE ;
}
.right .small-box:nth-child(2){
  background-color:#F6201E;
}
.top .small-box:nth-child(1){
  background-color:#D51A1E;
}
.top .small-box:nth-child(2){
  background-color:#B4D0E7;
}
.botton .small-box:nth-child(1){
  background-color:#122481;
}
.botton .small-box:nth-child(2){
  background-color:#FAD831;
}
.big-box.big-box.centrale{
  background-color: rgb(96%, 96%, 96%);
  padding: var(--space-large);
}
.big-box.centrale img{
  max-width: 260px;
  margin-bottom: var(--space-large);
}
#spazio{
  width: 100px;
  border: 1px solid rgb(3, 3, 3, 0.3);
}
.big-box.centrale p{
    font-size: 16px;
    line-height: var(--font-line-height);
    color: var(--font-paragraph-color);
    margin-top: var(--space-large);
}

/**** section porta-dropbox ****/

.porta-dropbox{
 background-color: #B4D0E7;
 width: 100%;
 
}
.porta-dropbox-container{
  width: 1080px;
  margin: 0 auto;
  display: flex;
}
.porta-dropbox-container .col-60,
.porta-dropbox-container .col-40{
  padding: 150px 90px;
  text-align: start;
}
.porta-dropbox .button{
  background-color: whitesmoke;
  color: #747272;
}



/**** Domande section ****/


.domande{
  min-height: 500px;
  width: 1080px;
  padding: 150px 90px;
  
}
.domande > div{
  line-height: 100px;
  border: 3 px solid black;
}
.border-bottom{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #9a9898;
  
}
.border-bottom div{
  position: relative;
  padding:0 var(--base-space);
}
.border-bottom div:hover p{
  display: initial;
}
.border-bottom p{
  padding: var(--base-space);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;;
  background-color: rgba(71%, 82%, 91%,0.95);
  z-index: 1;
  width: 400px;
  position: absolute;
  bottom: 65px;
  left: -200px;
  line-height: var(--base-space);
  display: none;
  
}






/** Footer **/
.footer{
  min-height: var(--footer-height);
  background-color: #111111;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px -3px 25px 1px;
  
}
.footer-container{
  min-height: 550px;
  width: 80%;
  margin: 0 auto;
  padding: var(--space-large);
  
}
.footer-info{
  display: flex;
  min-height:calc(0.5 * var(--footer-height));
  margin: var(--base-space);

}

.footer-social{
  min-height:calc(0.2 * 550px);
  margin: var(--base-space);

}
.section-info{
  width: calc(100% / 5);
  padding: var(--base-space);

}
.section-info .h3-tittle{
  font-size: 18px;
  margin-bottom: calc(2 * var(--base-space));
}
.section-info ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: left; 
}
.section-info li{
  margin-top: 20px;
}



.footer-social > :first-child{
  min-height:calc(0.2 * 550px);
  width: calc(100% / 6);

}
.footer-social > :first-child div{
  display: flex;
  justify-content: space-between;
  min-height:calc(0.1 * 550px);
  line-height: calc(0.1 * 550px);
  padding: 0 var(--base-space);
  
}
.footer-social > :first-child > :last-child {
  border-top: 3px solid rgba(256, 256, 256, 0.35);

}
.footer-social > :first-child > :last-child > :last-child:hover ul{
  display: initial;
}
.footer-social > :first-child > :last-child > :last-child ul li{
  padding:0 10px;
  width: 100%;
}
.footer-social > :first-child > :last-child > :last-child ul li:hover{
  background-color: rgba(107, 103, 103, 0.3);
}
.language{
  position: relative;
}
.select-language{
  width: 100px;
  position: absolute;
  top: -145px;
  left: -44px;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.section-info  h3:hover span,
.section-info  li:hover span
{
  box-shadow:
  rgba(255, 255, 255, 0.56) 0px 3px 48px 0px,
  rgba(255, 255, 255, 0.56) -1px 10px 17px -6px,
  rgba(255, 255, 255, 0.56) 0px -22px 32px -18px inset;

}

#special-foto{
  box-shadow: rgba(196, 255, 188, 1) 15px -15px 0px -5px inset,
  rgba(196, 255, 188, 1) -15px 15px 0px -5px inset;
  
}


